@model MBK.Time.Web.Mvc.Models.cmeMeetings.cmeMeetingModel
@{ 
    
}
<div class="row">
    <div class="col-md-6">
        <p>
            <span>Are you ready</span>
        </p>
        <p>
            <div class="time-for-next"><span id="h-for-next">05</span> : <span id="m-for-next">45</span> : <span id="s-for-next">00</span></div>
        </p>
        <table>
            <tr>
                <td><hr /> </td>
                <td> to start </td>
                <td><hr /> </td>

            </tr>
        </table>
        <p>
            <a href="#" class="btn btn-default">Start Meeting</a>
        </p>
    </div>
    <div class="col-md-6">
         @Html.
    </div>
</div>