<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>


  </configSections>

  

  <appSettings>

   <add key="urlApp" value="http://Time-mobile.ecosystem.mx/MBKTime" />
    <!--<add key="username" value="Time-mobile@mobiik.com" />-->
   <!-- <add key="password" value="CE473D" />-->
    <add key="companyId" value="f7a4afdb-f796-4ea0-a34c-39ba9e30c5a0" />
    <!--<add key="urlApp" value="http://local.Time.com/DevShell/MBKTime" />-->
    <add key="username" value="superadmin" />
    <add key="password" value="pass.word1313" />
    <!--<add key="companyId" value="54080933-902d-464e-b1d9-f7ea97212e9d" />-->
    <!--<add key="companyId" value="d5677bb4-593f-4dbb-a3b9-131cf4fce807" />
    <add key="specificOrderedEntities" value="supRegion,sup" />-->
    <add key="TestCreateOrUpdateOrDelete" value="false" />

  </appSettings>



</configuration>