<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="MBKTimeContext" connectionString="metadata=res://MBK.Time.BusinessObjects.EF/MBKTimeModel.csdl|res://MBK.Time.BusinessObjects.EF/MBKTimeModel.ssdl|res://MBK.Time.BusinessObjects.EF/MBKTimeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Time;user id=sfsdev_time;password=sfsdev123;MultipleActiveResultSets=True;App=sfsappweb&quot;"
       providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
